# CONFIGURATION API BACKEND (Django)
EXPO_PUBLIC_API_URL=http://localhost:8000/api

# IA (Gemini Model)
# Insérez votre clé Gemini ici (qui sera utilisée soit directement par l'app soit via le backend)
EXPO_PUBLIC_GEMINI_API_KEY=votre-cle-api-ici

# SUPABASE
EXPO_PUBLIC_SUPABASE_URL=https://xxxx.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=votre-cle-api-ici
